.card {
    border-radius: 12px;
    overflow: hidden;
    width: 330px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(110, 108, 108, 0.298) 3px 4px 15px;
    cursor: pointer;
    transition: linear .4s;

    &:hover {
        box-shadow: rgba(74, 73, 73, 0.388) 4px 10px 18px;

        .image_cover {
             transform: scale(1.1);
        }
    }

    .image_container {
        overflow: hidden;
        height: 50%;

        .image_cover {
            width: 100%;
            height: 100%;
            transition: .5s;
            object-fit: cover;
        }
    }

    .card_content {
        padding: 24px;
        height: 50%;

        .header {
            display: flex;
            align-items: center;
            gap: 8px;

            h3{
                font-weight: 600;
            }
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}