@use '../../variables';
.card{
    margin-left: 10px;
    max-width: 450px;
    min-width: 150px;
    height: 215px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    *{
        margin-bottom: 8px
    }

    img{
        height: 48px;
        width: 48px;
    }

    h3{
        margin: 0;
        text-align: initial;
    }

    @include variables.box-shadow;
    @include variables.border-radius
}