@use '../../variables';
.card{
    margin-left: 10px;
    height: 150px;
    max-width: 505px;
    min-width: 300px;
    height: 215px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    *{
        margin-bottom: 8px
        
    }

    @include variables.box-shadow;
    @include variables.border-radius
}