@use '../../../variables';

.unforgettable_experiences{
    @include variables.section-layout;
    .experiences_cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    }
}