@use '../../../variables' as *;

.footer {
    @include section-layout;

    background: $gray;
    color: $white;
    margin: 0 auto;



    .footer_container {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        flex: 1 1 auto;
        justify-content: space-between !important;
        padding-bottom: 36px;
        border-bottom: 3px solid #1e2939;


        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 1rem;
            font-weight: 500;
        }

        h4,
        h5 {

            margin-bottom: 16px;
        }

        p,
        a {
            font-size: 14px !important;
            max-width: 340px;
        }

        a {
            color: $middle-red;

            &:hover {
                text-decoration: underline;
            }
        }
        >div{
            flex: 1 0 250px;
            margin-bottom: 15px;
        }
    }
}