    $primary : #ff0000;
    $middle-red: #FEF2F2;
    $dark-red: #bb1326;
    $palegray: #F9FAFB;
    $gray: #101828;
    $white: #ffffff;



    @mixin box-shadow {
        box-shadow: rgba(110, 108, 108, 0.298) 3px 4px 15px;

        &:hover {
            box-shadow: rgba(74, 73, 73, 0.388) 4px 10px 18px;
        }
    }

    @mixin border-radius {
        border-radius: 12px;
    }

    @mixin section-layout{
        padding: 54px 20px; 
        h2, h3{
            text-align: center;
        }
        h2{
            font-weight: 600;
        }
        h3{
            margin-block: 10px 36px;
            font-weight: 300;
        }
    }