.banner {
    background: url('../../../../public/assets/fuji-banner.jpeg') no-repeat center;
    background-size: cover;
    backdrop-filter: blur(2050px);
    height: 85dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    img {
        filter: brightness(40%);
    }

    .container {
        max-width: 600px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text_banner {
            color: white;
            text-align: center;
            width: 100%;

            h1 {
                font-weight: 500;
            }

            h3 {
                font-weight: 400;
                margin-block: 24px;
            }
        }

        .button_container {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;

        }
    }
}

@media screen and (max-width: 768px) {
    .button_container {
        flex-direction: column;
    }

}